/*=============================================
		Primary Theme Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.medicll-stars span:after,
.medicll-emails li i,
.medicll-emails li a:hover,
.medicll-socialicons li a:hover i,
.medicll-dropdownmenu li a:hover,
.medicll-btndropdown i.fa-commenting-o,
.medicll-addressicon i,
.medicll-btnappointment i,
.medicll-sectiontitle h2 span,
.medicll-featureicon i,
.medicll-featuretitle h3:hover a,
.medicll-feature .medicll-description p a,
.medicll-serciceicon i,
.medicll-navfilterbale li a.medicll-active:before,
.medicll-navfilterbale li a:hover,
.medicll-faddressinfo li a:hover,
.medicll-usefullinks li a:hover,
.medicll-usefullinks li a:hover:before,
.medicll-recentpost li:hover .medicll-shortcontent time,
.medicll-clientinfo span,
.medicll-featurestabcontent h2 span,
.medicll-featuresnav li a i,
.medicll-select:after,
.medicll-counterstwo .medicll-count h3,
.medicll-counterstwo .medicll-count h3:before,
.medicll-homesliderthree .medicll-slidercontent h1 span,
.medicll-featurestwo .medicll-featureicon,
.medicll-count span,
.medicll-pagination ul li a:hover,
.medicll-widget ul li a:hover,
.medicll-widget ul li a:hover span,
.medicll-leficon ul li a:before,
.medicll-widgetcontcatus h3 span,
.medicll-faqlist li a:hover,
.medicll-detailpage .medicll-listheart li:before,
.medicll-docterdetail ul li a:hover,
.medicll-docterdetail h2,
.medicll-backhome span,
.medicll-commingsoon h1 span,
.medicll-testimonialsthree .medicll-btnroundprev:hover i,
.medicll-testimonialsthree .medicll-btnroundnext:hover i,
.medicll-404content h3 span,
.medicll-commingsoon .medicll-content h3,
.medicll-title h2,
.medicll-dateinputicon i,
.medicll-navigation > ul > li:hover > a,
.medicll-navigation > ul > li.medicll-active > a,
.medicll-menudropdown > li:hover > a,
.medicll-menudropdown > li.medicll-active > a,
.medicll-menudropdown li a:hover,
.medicll-authorhead ul li a:hover{color: #00adef;}
/*=============================================
		Primary Theme Background Color
=============================================*/
.medicll-widgetsearch:before,
.medicll-btncurvenext:hover:before,
.medicll-btncurveprev:hover:before,
.medicll-openingtime h3,
.medicll-parallaximg:before,
.medicll-bgdark,
.medicll-navfilterbale li a:before,
.medicll-docmember figure,
.medicll-departmenticlon,
.medicll-department:hover figure,
.medicll-footertopbar,
.medicll-footerbottombar,
.medicll-borderheading:before,
.medicll-socialiconsround li a:hover,
.medicll-featuresnav li.active a,
.medicll-featuresnav li a:hover,
.medicll-btnform,
.medicll-servicestwo .medicll-service i,
.medicll-poststwo .medicll-postmate,
.medicll-btnsubscribe,
.medicll-headerthree .medicll-navigation > ul > li > a:before,
.medicll-panel h4:before,
.medicll-postdate,
.medicll-fourcols,
.medicll-iconhaxegon,
.medicll-bordertitel:before,
.medicll-formhead,
.medicll-homesliderthree .medicll-btns .medicll-btn:hover,
.medicll-btnbooknow,
.medicll-pagetitle:after,
.medicll-widgettitle,
.medicll-backhome span:after,
.medicll-backhome span:before,
.medicll-contentarea .medicll-infobox .medicll-iconbox,
.medicll-searchkey fieldset button,
.medicll-btnroundprev:hover,
.medicll-btnroundnext:hover,
.medicll-404content .medicll-btn:hover,
.medicll-formsearch fieldset .medicll-btn:hover,
.medicll-commingsoon .medicll-infobox .medicll-iconbox,
.medicll-srearch .medicll-btn,
.medicll-searchdropdownmenu .medicll-btn{background:#00adef;}
.medicll-slidercontent:before,
.medicll-servicehover,
.medicll-docterdetail .medicll-formgetintouch .medicll-btnform i,
.medicll-headerthree .medicll-menudropdown li a:hover,
.medicll-dropdownmenu li a:hover{background: rgba(0, 173, 239, 0.80);}
.medicll-project figure figcaption{background: rgba(0, 173, 239, 0.70);}
/*=============================================
		Primary Theme Border Color
=============================================*/
.medicll-socialiconsround li a:hover,
.medicll-testimonial blockquote:before,
.medicll-servicestwo .medicll-service,
.medicll-panelcontent,
.medicll-iconhaxegon:before,
.medicll-iconhaxegon:after,
.medicll-homesliderthree .medicll-btns .medicll-btn:hover,
.medicll-pagetitle h1,
.medicll-pagination ul li a:hover,
.medicll-contentarea .medicll-infobox,
.medicll-btnroundprev:hover,
.medicll-btnroundnext:hover,
.medicll-404content .medicll-btn:hover,
.medicll-commingsoon .medicll-infobox{border-color: #00adef;}
/*=============================================
		Secondary Theme Color
=============================================*/
{color: #2d3e50;}
/*=============================================
		Secondary Theme Background Color
=============================================*/
.medicll-parallaximg.medicll-colortwo:before,
.medicll-dropdowarrow{background:#2d3e50;}
/*=============================================
		Secondary Theme Border Color
=============================================*/
.medicll-btnform i,
.medicll-formappointment fieldset .form-control,
.medicll-formappointment fieldset medicll-select select{border-color: #2d3e50;}